<div class="flex justify-between">
  <%= link_to '< Back', root_path %>
  <div class="text-gray-400">Product ID: <%= @product_id %></div>
</div>

<div class="flex flex-col items-center h-full">
  <%= render 'form', custom_product: @custom_product, product_id: @product_id %>
</div>
