<h2>Change to mobile view and click below</h2>
<p class="mt-8">
  <%= link_to 'Product', product_url(@product), class: "p-4 cursor-pointer text-xl font-bold text-center text-white bg-cyan-500 hover:bg-cyan-800 rounded-md" %>
</p>